// COLORS //

    // PRIMARY // 
    $darkcyan: hsl(185, 75%, 39%);
    $verydarkblue: hsl(229, 23%, 23%);
    $darkgrayishblue: hsl(227, 10%, 46%);

    //NEUTRAL//
    $darkgray: hsl(0, 0%, 59%);
    $white: #ffffff;

// FONT //
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');